/* ===================== */
/* ===== PERFIL ===== */
.profile-card {
  max-width: 360px;
  margin: 40px auto;
  background: #000;
  border-radius: 18px;
  padding: 25px;
  box-shadow: 0 0 25px rgba(0,191,255,0.25);
}

.profile-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #00bfff;
  margin-bottom: 15px;
}

.profile-card h2 {
  margin-bottom: 5px;
}

.profile-card p {
  font-size: 14px;
  opacity: 0.8;
}

.profile-card button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 15px;
  background: #00bfff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.profile-card button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00bfff;
}
